* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

/* HERO */

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a, #020617);
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.highlight {
    color: #38bdf8;
}

.hero p {
    margin: 20px 0;
    max-width: 600px;
}

.btn {
    padding: 12px 30px;
    background: #38bdf8;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

/* Typing Animation */

.typing {
    color: #38bdf8;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #38bdf8;
    width: 0;
    animation: typing 3s steps(22) forwards, blink .7s infinite;
}

@keyframes typing {
    to { width: 260px; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

/* SECTIONS */

section {
    padding: 80px 10%;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    font-size: 2.2rem;
    color: #38bdf8;
}

/* SKILLS */

.skill-group {
    margin-bottom: 40px;
}

.badges span {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background: #1e293b;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
}

/* Badge Hover Animation */

.badges span:hover {
    background: #38bdf8;
    color: black;
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 0 15px #38bdf8;
}

/* PROJECTS */

.projects {
    background: #020617;
}

.project-card {
    background: #1e293b;
    padding: 30px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 20px;
    transition: .4s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #38bdf8;
}

/* FOOTER */

footer {
    padding: 20px;
    background: black;
}
